body{
    --black: #1a1a1a;
    --white: #cccccc;
    --gray: #808080;

    --header: #d7dabc;
    --main: #f3f3e8;
    --aside: #e2ca44;
    --footer: #f5ff66;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black);
    color: var(--black);
    font-family: sans-serif;
    font-size: medium;
}

.container{
    padding: 0px 15%;
    display: grid;
    grid-template-columns: 2fr 1fr;/* duas colunas a 1 ocupando 2 espaços e a 3 uma  EX:  | 1 | 2 |   |  */
    grid-template-rows: 10vh 85vh 5vh;/*3 linhas com alturas diferentes*/
    grid-gap: 2px 2px;/*espaçamento entre as boxs*/
    grid-template-areas: "h h"
                         "m a"
                         "f f";
}

header{
    background-color: var(--header);
    grid-area: h;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
main{
    background-color: var(--main);
    grid-area: m;
}
aside{
    background-color: var(--aside);
    grid-area: a; 

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0 0;
    align-items: center;
    
}
footer{
    background-color: var(--footer);
    grid-area: f; 

    display: grid;
    grid-template-columns: repeat(25,1fr);
}


.video{
    
    background-color: rgba(68, 63, 60, 0.418);
    margin-left: auto;
    margin-right: auto;
}
.container_lado :hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.267);
    color: black;
}

.titulo_video{
    background-color: inherit;
    color: var(--white);
}

.logo{
    color: rgb(204, 201, 45);
    margin: auto 6vw;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

.form-login .form-element{
    display: inline-block;
}
.form-element p{
    color: inherit;
    font-size: 14px;
    position: relative;
    left: 5px;
}
.form-element input[type="text"],
.form-element input[type="password"]{
    position: relative;
    bottom: 13px;
    padding: 5px;
}
.form-element input[type="submit"]{
    background-color: var(--header);
    cursor: pointer;
    width: 80px;
    height: 30px;
    position: relative;
    bottom: 14px;
}
.form-element input[type="submit"]:hover{
    background-color: rgb(212, 202, 58);
}

.texto{/*main*/
    text-align: center;
    position: relative;
    top: 30px;
}

main p{
    padding: 0 5vw;
    text-indent: 100px;  
}

.direitos-abs{
    position: absolute;
    left: 64%;
}
footer > div{
    margin-left: 10px;
}
