body{
    --bordas:#ddd9ce;
}

*{
    box-sizing: border-box;
    
}

body ,header , .container ,.principal ,.logo {
    box-shadow: 0 0 6px white;
}

html{
    height: 100%;
    background-color: rgb(65, 59, 59);
}

body{
    background-color: rgb(158, 224, 52);
    width: 980px;
    height: auto;
    margin: 0 auto;
    font-family: Tahoma, sans-serif;
}

header{
    height: 220px;
    
}
.container{
    display: flex;
    flex-direction: column;
    height: auto;
    box-shadow: 0 0 6px white;
    
}


.logo{
    display: flex;
    background-image: url(img/logo.jpg);
    height: 220px;
    border: 4px solid var(--bordas);
    
}
.navegation{
    position: relative;
    bottom: 48px;
    left: 3px;

    width: 700px;
    height: 45px;
    box-shadow: 0 0 10px white;

    display: flex;
    justify-content: space-evenly;
}
.button-nav{
    background-color: rgba(15, 104, 15, 0.5);
    width: 20%;
    border-top: 4px solid var(--bordas);
    border-left: 2px solid var(--bordas);
}
.button-nav a{
    text-decoration: none;
}

.button-nav:last-child{
    border-right: 2px solid var(--bordas);
}
.button-nav p{
    text-align: center;
    font-family: Montserrat;
    color: white;
    text-decoration: none;
    position: relative;
    bottom: 7px;
    font-size: 18px;
}

.button-nav:hover{
    box-shadow: inset 0 0 40px rgb(128, 247, 168);
}

/* Principal*/

main {
    display:flex;
    flex-direction: column;

    border: 4px solid var(--bordas);
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 6px white;
    

    margin: 3px;
    background-color: rgb(158, 224, 52);
    width: 100%;
    height: auto;

}
.personagem{
    display: flex;
    justify-content: space-evenly;

    background-color: #1a1a1a;
    height: 426px;

    padding: 5px;
    margin-right: 3px;

    border: 4px solid black;
    box-shadow: inset 0 0 15px black;
    border-radius: 5px;
    
}

.coluna{
    display: flex;
    flex-direction: column;

    margin: 5px;
    position: relative;
    

    width: 69px;
    height: 100%;
    z-index: 1;
}
.coluna-personagem{
    margin: 5px;
    margin-top: 26px;
    height: 90%;
    width: 600px;
    z-index: 0;
    
}

.brilho{
    box-shadow: 0 0 10px black;
    position: relative;
}

.coluna .brilho::after{
    content: '';
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    top: 3px;
    left: 2px;
    box-shadow: inset 0 0 25px #33ec22;
    opacity: 0; 
}
.item:hover .brilho:after {
	opacity: 1;
}


/*Status*/

.status{
    display: flex;
    background-color: rgb(51, 47, 47);
    height: 470px;
    margin-right: 3px;
    border: 4px solid black;
    box-shadow: inset 0 0 15px black;
    border-radius: 5px;
}
.status-coluna{
    height: 97%;
    width: 33%;
    margin: 0 1px;
    margin-top: 10px;
    
    background-color: rgb(90, 89, 89);
    border-right: 2px ridge var(--black-always);
    border-left: 1px solid #a5a5a5;
    border-radius: 3px;
    box-shadow: 0 0 4px black;

    display: block;
    padding-top: 10px;

}
.item-status{
    color: white;
    margin-bottom: 0px;
    padding: 0;
    border-bottom: 1px ridge black;
    margin: -4px 8px;
    line-height: 0px;
    font-size: 15px;
    
    
}





.elements{
    display: flex;

    background-color: rgb(90, 89, 89);
    height: 50px;

    padding: 5px;
    margin-right: 3px;

    border: 4px solid black;
    box-shadow: inset 0 0 15px black;
    border-radius: 5px;
    border-top: none;

    display: flex;
}
.elementos{
    display: flex;
    margin: 0px 10px;
}
.elementos .texto-elemento{
    width: 100px;
    position: relative;
    left: 40px;
    bottom: 13px;
    color: white;
    font-size: 18px;
}



/*rodape*/
footer{
    display: flex;

    box-shadow: 0 0 6px white;
    border: 4px solid var(--bordas);

    background-color: rgb(179, 174, 174);
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
}

/*TOOLLTIP*/
.tooltip p:not(.vr){
    color: rgb(185, 183, 183);
    position: relative;
    bottom: 13px;
    line-height: 5px;
}

.vr{
    color: chartreuse;
}

div{
    display: block;
}
.item .r {
    right: 69px;
}
.item .l{
    left: 69px;
}
.item .tooltip {
    top: 0px;
    width: 350px;
    font-size: 80%;
    background: rgba(0, 0, 0,0.75);

    border: 2px solid rgb(168, 168, 168);
    color: var(white);
    padding: 5px;
    text-align: left;
}

.tooltip {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 20;
}
.item:hover .tooltip{
    visibility: visible;
}
p{
    color: rgb(185, 184, 184);
}
